#listContainer{
	margin-top:15px;
}

#expList ul, li {
	list-style: none;
	margin:0;
	padding:0;
	cursor: pointer;
}
#expList p {
	margin:0;
	display:block;
}
#expList p:hover {
	background-color:#121212;
}
#expList li {
	line-height:140%;
	text-indent:0px;
	background-position: 1px 8px;
	padding-left: 20px;
	background-repeat: no-repeat;
}

/* Collapsed state for list element */
#expList .collapsed {
	background-image: url(../im/collapsed.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
	background-image: url(../im/expanded.png);
}